<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).keyup(function(event){
            switch(event.keyCode) {
                case 13:
                    $("#retrieve").click();
                case 37: // left
                    $("#label0").prop("checked", true);
                return;
                case 39: // left
                    $("#label1").prop("checked", true);
                return;
            }
        });
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .image_display {
            /* display: block; */
            margin: 2em auto;
            background-color: #444;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            padding: 10px;
        }
        img {
            display: block;
            width: 50px;
            height: 50px;
            float: left;
            margin-left: 4px;
            margin-top: 4px;
        }
        a{
            margin:0px 20px;
            display:inline-block;
            text-decoration:none;
            color:white;
        }
    </style>
</head>

<body>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="http://localhost:6006/label" method="post">
                    <input type = "text" name = "idx" id="img_name" class="form-control" value={{ name }}>
                    <div class="checkbox form-group">
                        <label>
                            <label for="label0">←(Previous)<input id="label0" class="form-control" type="radio" name="label" value="pre"></label>
                            <label for="label1">→(Next)<input id="label1" class="form-control" type="radio" name="label" value="next" checked></label>
                            <!-- <label for="label2">Other <input id="label2" class="form-control" type="radio" name="label" value="other"></label> -->
                        </label>
                      </div>
                      <b id="show_img_name" class="text-center">Path: {{ path }} Num: {{num}} Index:{{index}}</b>
                    <input type='submit' id='retrieve' class="btn btn-default" style="width:100%;display: none;;"></button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 image_display">
                {% for id in range(0, num) %}
                <a>
                    <img src={{images[id]}} class="figure-img img-fluid rounded" alt={{id}}>
                    <div class="caption">{{images[id].split('/')[-1]}}.jpg</div>
                </a>
                {% endfor %}
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
<!-- <script>
    $(document).ready(function () {
        $('#retrieve').click(function () {
            $.ajax({
                url: "{{ url_for ('getimage') }}",
                type: "GET",
                success: function (response) {
                    $("#myimg").attr('src', response);
                    $("#img_name").attr('value', response);
                    $("#show_img_name").text(response);
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        });
    });
</script> -->

</html>